<div class="container">
    <div class="row border-bottom">
        <div class="col-md-6">
            <h1>Latest questions</h1>
        </div>
        <div class="col-md-6 text-end">
            <button type="button" class="btn btn-info m-2" routerLink="/askque">Ask question</button>
        </div>  
    </div>
</div>


    <div class="card m-3 bg-body-tertiary" *ngFor="let item of data$ | async"> 
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <a routerLink="/ask/{{item.id}}"><h3 class="card-title" >{{item.questionTitle}}</h3></a>
                    <p class="card-text">{{item.questionBody}}</p>
                    <small class="card-text">{{item.authorEmail}}</small><br>
                </div>
                <div class="col-md-4 text-center">
                    <button class="btn btn-primary m-2" *ngIf="item.authorEmail != currentUserEmail" (click)="openAnswerForm(item.id)" >Answer</button>
                    <button class="btn btn-danger m-2" *ngIf="IsAdmin == true" (click)="DeleteQuestion(item.id)" >Del question!</button> 
                </div>
            </div>
                <div *ngIf="deepEqual(item.answers[0],{}) != true">
                    <h2>Answers:</h2>
                    <ol class="bg-body-tertiary list-group">
                        <div *ngFor="let i of item.answers">
                            <!--Сюда нужно научиться закидывать классы-->
                            <li class="list-group-item border-bottom border-bottom-1 my-1">
                            <div class="row">
                                <div class="col-md-8">
                                    <p>{{i.body}}</p>
                                    <small>author: {{i.answerAuthorEmail}}</small><br />
                                    <p>{{i.istrue}}</p>
                                </div>
                                <div class="col-md-4 text-center">
                                    <button class="badge bg-success rounded-pill border-0 me-1" (click)="changeRate(item.id, i.answerId, 1)">&#10004;</button>
                                    <span class="badge bg-primary rounded-pill">{{i.rate}}</span>
                                    <button class="badge bg-warning rounded-pill border-0 ms-1" (click)="changeRate(item.id, i.answerId, -1)">&#10008;</button><br />
                                    <button class="btn btn-outline-secondary m-2" *ngIf="i.isTrue == false && item.authorEmail == currentUserEmail" (click)="checkRightAnswer(item.id, i.answerId)" >is it right?</button>
                                    <span class="btn btn-success m-2" *ngIf="i.isTrue == true " >It is right! &#10004;</span>
                                </div>
                            </div>
                            </li>
                        </div>
                    </ol>
                </div>
            <!-- Тут функционал ответа на вопросики. Не знаю как отследить нажатие на кнопку и в зависимости от этого показывать поле для ответа ниже, поэтому делаю переменную в функции -->
            <div *ngIf="answerAreaOpen.includes(item.id)">
                <form [formGroup]="answerForm" id="answerForm">
                    <div class="form-group" >
                      <label for="answer">Your answer</label>
                      <input type="text" class="form-control" id="answer" placeholder="Enter your answer" formControlName="answers">
                      <br />
                    </div>
                    <button type="submit" class="btn btn-primary me-2" (click)="handleFormSend(answerForm, item.id)">Submit</button>
                    <button class="btn btn-danger me-2" (click)="closeAnswerForm(item.id)">Close</button>
                </form>
            </div>
        </div>
    </div>
    


