<div class="container-md">
    <div class="row ">
        <app-leftcontainer class="col-2 py-3 border-end"></app-leftcontainer>
        

        <div class="col-md-8 py-3">
            <div class="card m-3 bg-body-tertiary" *ngFor="let item of data$ | async">
                <div class="card-body" *ngIf="item.id == idQ.id">
                    <div class="row">
                        <div class="col-md-8">
                            <a routerLink="/ask/{{idQ.id}}"><h3 class="card-title">{{idQ.questionTitle}}</h3></a>
                            <p class="card-text">{{idQ.questionBody}}</p>
                            <small class="card-text">{{idQ.authorEmail}}</small><br>
                        </div>
                        <div class="col-md-4 text-center">
                            <button class="btn btn-primary m-2" *ngIf="idQ.authorEmail != currentUserEmail" (click)="openAnswerForm(idQ.id)" >Answer</button>
                            <button class="btn btn-danger m-2" *ngIf="IsAdmin == true" (click)="DeleteQuestion(idQ.id)" >Del question!</button> 
                        </div>
                    
                        <div class="col-md-12" *ngIf="deepEqual(item.answers[0],{}) != true">    
                            <h2>Answers:</h2>
                            <ol class="bg-body-tertiary list-group">
                                <div *ngFor="let i of idQ.answers">
                                    <!--Сюда нужно научиться закидывать классы-->
                                    <li class="list-group-item border-bottom border-bottom-1 my-1">
                                        <div class="row">
                                            <div class="col-md-8"> 
                                                <p>{{i.body}}</p>
                                                <small>author: {{i.answerAuthorEmail}}</small><br />
                                                <p>{{i.istrue}}</p>
                                            </div>
                                            <!--Кнопки-->
                                            <div class="col-md-4 text-center">
                                                <button class="badge bg-success rounded-pill border-0 me-1" (click)="changeRate(idQ.id, i.answerId, 1)">&#10004;</button>
                                                <span class="badge bg-primary rounded-pill">{{i.rate}}</span>
                                                <button class="badge bg-warning rounded-pill border-0 ms-1" (click)="changeRate(idQ.id, i.answerId, -1)">&#10008;</button><br />
                                                <button class="btn btn-outline-secondary m-2" *ngIf="i.isTrue == false && idQ.authorEmail == currentUserEmail" (click)="checkRightAnswer(idQ.id, i.answerId)" >is it right?</button>
                                                <span class="btn btn-success m-2" *ngIf="i.isTrue == true " >It is right! &#10004;</span>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                            </ol>
                        </div>
                        <div class="col-md-12">
                            <div *ngIf="answerAreaOpen.includes(idQ.id)">
                                <form [formGroup]="answerForm" id="answerForm">
                                    <div class="form-group" >
                                    <label for="answer">Your answer</label>
                                    <input type="text" class="form-control" id="answer" placeholder="Enter your answer" formControlName="answers">
                                    <br />
                                    </div>
                                    <button type="submit" class="btn btn-primary me-2" (click)="handleFormSend(answerForm, idQ.id)">Submit</button>
                                    <button class="btn btn-danger me-2" (click)="closeAnswerForm(idQ.id)">Close</button>
                                </form>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
          </div>
        
        
        <app-rightcontainer class="col-2 py-3 border-start"></app-rightcontainer>
    </div>
</div>
